.contanier{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar-contanier{
    position: absolute;
    right: 0;
    margin-top: 10px;
}


.logo{
    width: 200px;
    margin: 15px;
    position: absolute;
    mix-blend-mode: multiply;
}

.hr-line{
    display: block;
    height: 1px;
    border: 0;
    width: 100%;
    border-top: 1px solid #fbe6f4;
    margin: 1em 0;
    padding: 0;
}

/**/
.home-card{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img-home{
    width: 40%;
    align-self: flex-end;
    padding: 4%;
}


.text-home{
    text-align: right;
    flex-grow: 2;
    font-size: 2em;
    font-weight: bold;
    padding: 4%;
    color: #421019;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-new{
    width: 10%;
    position: absolute;
    transform: rotateZ(-25deg);
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f08ccb;
	background:linear-gradient(to bottom, #f08ccb 5%, #f08ccb 100%);
	background-color:#f08ccb;
	border-radius:3px;
	border:1px solid #f08ccb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:18px 53px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f08ccb;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f08ccb 5%, #f08ccb 100%);
	background-color:#f08ccb;
}
.myButton:active {
	position:relative;
	top:1px;
}