/* You can add global styles to this file, and also import other style files */
html{
    background-color: #f08ccc;
    background: linear-gradient(0.25turn, #dccbe2, #ad85bd, #c5a8d0);
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    width: 13px;
    height: 13px;
    }
    ::-webkit-scrollbar-thumb{
    background: #9179C4;
    border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #D7CEEB;
    }
    ::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }