
.nav-bar{
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin: 2px;
}
.nav-bar-text{
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #310941;
}
